<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <h2>Sign Up</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_id">LogIn ID</label>
                        <input type="text" name="login_id" class="form-control" id="login_id" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" class="form-control" id="password1">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="password2">
                    </div>
                    <div class="form-group">
                    <select id="type" class="form-control" name="type">
                      <option value="student">Student</option>
                      <option value="faculty">Faculty</option>
                      <option value="admin">Admin</option>
                    </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <hr>

            </div>
        </div>
  </body>
</html>
